In [17]:
import pandas as pd

In [18]:
df = pd.read_csv(r"C:\Users\admin\Downloads\archive (74)\flight.csv")
df.sample(5)

,Year,Month,Day,DayOfWeek,Flight_Date,UniqueCarrier,Tai_lNum,FlightNum,Origin_Airport,Origin_City_Name,...,Carrier_Delay,WeatherDelay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Top_Carriers,Top_Origin,DEPTIME_GROUP1,DEPTIME_GROUP2,DEPTIME_GROUP3
1208,2016,7,1,5,01/07/2016,AA,N3GGAA,137,LGA,"New York, NY",...,0,0,0,0,0,1,1,0600-1200,0600-0800,0700-0800
145,2016,7,6,3,06/07/2016,AA,N387AA,5,DFW,"Dallas/Fort Worth, TX",...,0,0,0,0,0,1,1,0600-1200,1000-1200,1100-1200
1423,2016,7,24,7,24/07/2016,AA,N555AA,80,DEN,"Denver, CO",...,3,0,19,0,10,1,1,1800-2359,1800-2000,1800-1900
196,2016,7,26,2,26/07/2016,AA,N382AA,7,DFW,"Dallas/Fort Worth, TX",...,0,0,0,0,0,1,1,0600-1200,0800-1000,0900-1000
2306,2016,7,16,6,16/07/2016,AA,N3DHAA,208,SFO,"San Francisco, CA",...,0,0,19,0,0,1,1,0600-1200,0800-1000,0800-0900

In [19]:
df.Flight_Date.unique()

array(['01/07/2016', '02/07/2016', '04/07/2016', '05/07/2016',
       '06/07/2016', '07/07/2016', '08/07/2016', '09/07/2016',
       '11/07/2016', '12/07/2016', '13/07/2016', '14/07/2016',
       '15/07/2016', '16/07/2016', '18/07/2016', '19/07/2016',
       '20/07/2016', '21/07/2016', '22/07/2016', '23/07/2016',
       '27/07/2016', '28/07/2016', '29/07/2016', '30/07/2016',
       '03/07/2016', '10/07/2016', '17/07/2016', '24/07/2016',
       '25/07/2016', '26/07/2016', '31/07/2016'], dtype=object)

In [20]:
df.columns

Index(['Year', 'Month', 'Day', 'DayOfWeek', 'Flight_Date', 'UniqueCarrier',
       'Tai_lNum', 'FlightNum', 'Origin_Airport', 'Origin_City_Name',
       'Origin_State', 'Scheduled_Departure', 'Departure_Time', 'Dep_Delay',
       'DepDel15', 'Dep_Delay_Groups', 'Scheduled_Arrival', 'Arrival_Time',
       'Arrival_Delay', 'Arr_Delay_Minutes', 'Arr_Del_morethan15', 'Cancelled',
       'Diverted', 'Distance', 'DistanceGroup', 'Carrier_Delay',
       'WeatherDelay', 'NAS_Delay', 'Security_Delay', 'Late_Aircraft_Delay',
       'Top_Carriers', 'Top_Origin', 'DEPTIME_GROUP1', 'DEPTIME_GROUP2',
       'DEPTIME_GROUP3'],
      dtype='object')

In [21]:
df = df[["Flight_Date", "UniqueCarrier", "Origin_Airport", "Origin_City_Name", "Origin_State", "Dep_Delay", "Arrival_Delay", "Cancelled", 
         "Diverted", "Distance", "Carrier_Delay", "WeatherDelay", "NAS_Delay", "Security_Delay", "Late_Aircraft_Delay"]]

In [22]:
df

,Flight_Date,UniqueCarrier,Origin_Airport,Origin_City_Name,Origin_State,Dep_Delay,Arrival_Delay,Cancelled,Diverted,Distance,Carrier_Delay,WeatherDelay,NAS_Delay,Security_Delay,Late_Aircraft_Delay
0,01/07/2016,AA,BOS,"Boston, MA",MA,-6,-4,0,0,187,0,0,0,0,0
1,02/07/2016,AA,BOS,"Boston, MA",MA,-6,-8,0,0,187,0,0,0,0,0
2,04/07/2016,AA,BOS,"Boston, MA",MA,1,-5,0,0,187,0,0,0,0,0
3,05/07/2016,AA,BOS,"Boston, MA",MA,-4,-2,0,0,187,0,0,0,0,0
4,06/07/2016,AA,BOS,"Boston, MA",MA,-8,-12,0,0,187,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4816,21/07/2016,AA,LAX,"Los Angeles, CA",CA,30,36,0,0,2611,30,0,6,0,0
4817,22/07/2016,AA,LAX,"Los Angeles, CA",CA,-4,-26,0,0,2611,0,0,0,0,0
4818,24/07/2016,AA,LAX,"Los Angeles, CA",CA,-6,-33,0,0,2611,0,0,0,0,0
4819,25/07/2016,AA,LAX,"Los Angeles, CA",CA,-4,17,0,0,2611,0,0,17,0,0
4820,26/07/2016,AA,LAX,"Los Angeles, CA",CA,90,87,0,0,2611,87,0,0,0,0

In [23]:
df.Origin_City_Name= pd.DataFrame(df.Origin_City_Name.str.split(",").str[0])
df.sample(5)

,Flight_Date,UniqueCarrier,Origin_Airport,Origin_City_Name,Origin_State,Dep_Delay,Arrival_Delay,Cancelled,Diverted,Distance,Carrier_Delay,WeatherDelay,NAS_Delay,Security_Delay,Late_Aircraft_Delay
1366,27/07/2016,AA,SLC,Salt Lake City,UT,-9,10,0,0,989,0,0,0,0,0
1151,03/07/2016,AA,DFW,Dallas/Fort Worth,TX,14,9,0,0,1372,0,0,0,0,0
4250,09/07/2016,AA,LAX,Los Angeles,CA,4,-4,0,0,2342,0,0,0,0,0
601,30/07/2016,AA,LAX,Los Angeles,CA,-4,-19,0,0,2556,0,0,0,0,0
1350,11/07/2016,AA,SLC,Salt Lake City,UT,-5,-26,0,0,989,0,0,0,0,0

In [24]:
state_map = {'MA': 'Massachusetts', 'NY': 'New York', 'CA': 'California', 'TX': 'Texas', 'IL': 'Illinois', 'NJ': 'New Jersey', 'FL': 'Florida', 'GA': 'Georgia', 'NV': 'Nevada', 'UT': 'Utah', 'CO': 'Colorado', 'NC': 'North Carolina', 'AZ': 'Arizona', 'MI': 'Michigan', 'MN': 'Minnesota'}

df["Origin_State"] = df["Origin_State"].map(state_map)

df.sample(5)

,Flight_Date,UniqueCarrier,Origin_Airport,Origin_City_Name,Origin_State,Dep_Delay,Arrival_Delay,Cancelled,Diverted,Distance,Carrier_Delay,WeatherDelay,NAS_Delay,Security_Delay,Late_Aircraft_Delay
1013,17/07/2016,AA,MCO,Orlando,Florida,-5,-17,0,0,985,0,0,0,0,0
3558,23/07/2016,AA,LGA,New York,New York,0,-20,0,0,733,0,0,0,0,0
2784,20/07/2016,AA,JFK,New York,New York,-3,-26,0,0,2475,0,0,0,0,0
52,30/07/2016,AA,JFK,New York,New York,43,35,0,0,2475,35,0,0,0,0
769,21/07/2016,AA,DFW,Dallas/Fort Worth,Texas,40,20,0,0,1464,0,0,0,0,20

In [25]:
df.columns

Index(['Flight_Date', 'UniqueCarrier', 'Origin_Airport', 'Origin_City_Name',
       'Origin_State', 'Dep_Delay', 'Arrival_Delay', 'Cancelled', 'Diverted',
       'Distance', 'Carrier_Delay', 'WeatherDelay', 'NAS_Delay',
       'Security_Delay', 'Late_Aircraft_Delay'],
      dtype='object')

In [26]:
df = df.drop("UniqueCarrier", axis = 1)

In [27]:
df.sample()

,Flight_Date,Origin_Airport,Origin_City_Name,Origin_State,Dep_Delay,Arrival_Delay,Cancelled,Diverted,Distance,Carrier_Delay,WeatherDelay,NAS_Delay,Security_Delay,Late_Aircraft_Delay
1881,26/07/2016,DFW,Dallas/Fort Worth,Texas,29,10,0,0,1438,0,0,0,0,0

In [28]:
df = df.rename({"Distance": "distance_km"}, axis = 1)

df["distance_km"] = round(df["distance_km"] * 1.609, 1)

In [29]:
df.sample(5)

,Flight_Date,Origin_Airport,Origin_City_Name,Origin_State,Dep_Delay,Arrival_Delay,Cancelled,Diverted,distance_km,Carrier_Delay,WeatherDelay,NAS_Delay,Security_Delay,Late_Aircraft_Delay
3468,19/07/2016,LAX,Los Angeles,California,-4,-24,0,0,4112.6,0,0,0,0,0
4770,06/07/2016,LAS,Las Vegas,Nevada,-5,-21,0,0,379.7,0,0,0,0,0
4666,29/07/2016,DFW,Dallas/Fort Worth,Texas,-6,-13,0,0,397.4,0,0,0,0,0
1091,02/07/2016,ORD,Chicago,Illinois,-1,-1,0,0,1190.7,0,0,0,0,0
4453,29/07/2016,DFW,Dallas/Fort Worth,Texas,54,49,0,0,1224.4,1,0,0,0,48

In [30]:
rename_map = {
    'Carrier_Delay': 'Airline_Delay_Min',
    'WeatherDelay': 'Weather_Delay_Min',
    'NAS_Delay': 'Airport_Traffic_Delay_Min',
    'Security_Delay': 'Security_Check_Delay_Min',
    'Late_Aircraft_Delay': 'Previous_Flight_Delay_Min', 
    'Dep_Delay': 'Departure_Delay_min', 
    'Arrival_Delay': "Arrival_Delay_min"
}

df = df.rename(columns=rename_map)

df.sample(5)

,Flight_Date,Origin_Airport,Origin_City_Name,Origin_State,Departure_Delay_min,Arrival_Delay_min,Cancelled,Diverted,distance_km,Airline_Delay_Min,Weather_Delay_Min,Airport_Traffic_Delay_Min,Security_Check_Delay_Min,Previous_Flight_Delay_Min
3162,19/07/2016,LGA,New York,New York,-4,-24,0,0,1179.4,0,0,0,0,0
3428,09/07/2016,ORD,Chicago,Illinois,-4,-1,0,0,1290.4,0,0,0,0,0
3151,08/07/2016,LGA,New York,New York,-4,34,0,0,1179.4,0,0,34,0,0
3629,04/07/2016,DFW,Dallas/Fort Worth,Texas,19,19,0,0,1950.1,19,0,0,0,0
1768,01/07/2016,CLT,Charlotte,North Carolina,18,15,0,0,870.5,4,0,0,0,11

In [31]:
print(df.Cancelled.unique(), df.Diverted.unique())

[0] [0]

In [32]:
df = df.drop(["Cancelled", "Diverted"], axis = 1)

df.sample(1)

,Flight_Date,Origin_Airport,Origin_City_Name,Origin_State,Departure_Delay_min,Arrival_Delay_min,distance_km,Airline_Delay_Min,Weather_Delay_Min,Airport_Traffic_Delay_Min,Security_Check_Delay_Min,Previous_Flight_Delay_Min
3805,05/07/2016,MSP,Minneapolis,Minnesota,7,2,537.4,0,0,0,0,0

In [33]:
df.sample(5)

,Flight_Date,Origin_Airport,Origin_City_Name,Origin_State,Departure_Delay_min,Arrival_Delay_min,distance_km,Airline_Delay_Min,Weather_Delay_Min,Airport_Traffic_Delay_Min,Security_Check_Delay_Min,Previous_Flight_Delay_Min
4247,06/07/2016,LAX,Los Angeles,California,2,-1,3768.3,0,0,0,0,0
4011,10/07/2016,ORD,Chicago,Illinois,0,3,1617.0,0,0,0,0,0
3685,01/07/2016,ORD,Chicago,Illinois,18,8,2970.2,0,0,0,0,0
1365,26/07/2016,SLC,Salt Lake City,Utah,-3,-9,1591.3,0,0,0,0,0
1136,18/07/2016,JFK,New York,New York,267,242,1190.7,0,0,97,0,145

In [34]:
df.columns = df.columns.str.lower()
df.sample()

,flight_date,origin_airport,origin_city_name,origin_state,departure_delay_min,arrival_delay_min,distance_km,airline_delay_min,weather_delay_min,airport_traffic_delay_min,security_check_delay_min,previous_flight_delay_min
1773,06/07/2016,CLT,Charlotte,North Carolina,-1,4,870.5,0,0,0,0,0

In [35]:
df = df.rename(columns={"origin_airport": "airport", "origin_city_name": "city", "origin_state": "state"})

In [36]:
df.sample(5)

,flight_date,airport,city,state,departure_delay_min,arrival_delay_min,distance_km,airline_delay_min,weather_delay_min,airport_traffic_delay_min,security_check_delay_min,previous_flight_delay_min
4621,14/07/2016,PHX,Phoenix,Arizona,-5,1,1623.5,0,0,0,0,0
198,28/07/2016,DFW,Dallas/Fort Worth,Texas,-7,-30,5971.0,0,0,0,0,0
2528,01/07/2016,DFW,Dallas/Fort Worth,Texas,0,-8,2355.6,0,0,0,0,0
756,08/07/2016,DFW,Dallas/Fort Worth,Texas,1,-4,2355.6,0,0,0,0,0
2970,09/07/2016,JFK,New York,New York,8,0,4160.9,0,0,0,0,0

In [38]:
df.sample(5)

,flight_date,airport,city,state,departure_delay_min,arrival_delay_min,distance_km,airline_delay_min,weather_delay_min,airport_traffic_delay_min,security_check_delay_min,previous_flight_delay_min
4469,18/07/2016,DFW,Dallas/Fort Worth,Texas,16,4,952.5,0,0,0,0,0
3393,28/07/2016,JFK,New York,New York,-2,53,1518.9,0,0,53,0,0
105,22/07/2016,JFK,New York,New York,-3,-30,3982.3,0,0,0,0,0
1175,29/07/2016,DFW,Dallas/Fort Worth,Texas,33,28,2207.5,28,0,0,0,0
4696,04/07/2016,PHX,Phoenix,Arizona,-7,-8,1623.5,0,0,0,0,0

In [43]:
df["flight_date"] = pd.to_datetime(df["flight_date"], errors = "raise", dayfirst=True)

In [46]:
df.to_csv(r"C:\Users\admin\Desktop\Projects\Airline_project\flights_cleaned.csv", index=False)